
.tableau-style  {
    border-collapse: collapse; 
}

.p1{
background-color: forestgreen;
}
.p2{
background-color: forestgreen;
}
.p3{
background-color: forestgreen;
}
.p4{
 background-color: forestgreen;
}
.p5{
background-color: forestgreen;
}

.p6{
background-color: rgb(0, 255, 55) !important;
 }
.p7{
 background-color: red !important;
}
.p8{
background-color: rgb(0, 255, 55) !important;
 }

.p9{
background-color: rgb(0, 255, 55) !important;
}
.p10{
background-color: rgb(0, 255, 55) !important;
}
.p11{
background-color: rgb(0, 255, 55) !important;
}






.porte-avion {
    background-color: forestgreen !important;
}

.porte-avion::before {
    font-weight: bold;
    color: black;
    content: "PA";
}

.cuirasse {
    background-color: purple !important;
}

.cuirasse::before {
    font-weight: bold;
    color: black;
    content: "CU";
}

.croiseur {
    background-color: rgb(0, 255, 55) !important;
}

.croiseur::before {
    font-weight: bold;
    color: black;
    content: "CR";
}

.torpilleur {
    background-color: orange !important;
}

.torpilleur::before {
    font-weight: bold;
    color: black;
    content: "TP";
}

.sous-marin {
    background-color: lawngreen !important;
}

.sous-marin::before {
    font-weight: bold;
    color: black;
    content: "SM";
}

.hit {
    background-color: red !important;
}

.hit::before {
    font-weight: bold;
    color: black;
    content: "H";
}

.miss {
    background-color: yellow !important;
}
.miss::before {
    font-weight: bold;
    color: black;
    content: "M";
}



