
html {
    font-family: sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0);
    margin: 100px auto;
    border: 2px solid black;
}



